#app3 {

}
#app3 .square {
    border: 1px solid purple;
    background: purple;
    margin-top: 5vw;
    margin-left: 5vw;
    width: 10vw;
    height: 10vw;
    transition: transform 1s linear;
}
#app3 .square.active {
    transform: translateX(25vw);
    border-radius: 50%;
}
